

<h4>Author: {{ selectAtr[0].name | uppercase}}</h4>



<div class="row">
  <h4>Authors</h4>
  <ul>
    <li class="badge" *ngFor="let a of selectAtr" (click)="onSelect(a)"
        [class.selected]="a === selectedAuthor">
      <span> {{a.id}}</span>
      <span> {{a.name}}</span>

      <ul class="author_box">
        <li class="author_info" *ngFor="let book of a.books">
          <span>Book <b>id-{{book.id}}</b></span>
          <span>name: '{{book.name}}'</span>
          <span>.{{book.pages}}p</span>
        </li>
      </ul>

    </li>
  </ul>
</div>

<div *ngIf="selectedAuthor.name">
<!--<div>-->
  <label>name:
    <input [(ngModel)]="selectedAuthor.name" placeholder="name">
  </label>
</div>
