<h4>Author: {{ selectAtr[0].name | uppercase}}</h4>

<div>
  <label>name:
    <input [(ngModel)]="selectAtr[0].name" placeholder="name">
  </label>
</div>

<div>
  <ul>
    <li class="" *ngFor="let a of selectAtr" (click)="onSelect(a)">
      <span>Authors name: {{a.name}}</span>

      <ul>
        <li *ngFor="let book of a.books">
          <span>Book <b>id-{{book.id}}</b></span>
          <span>name: '{{book.name}}'</span>
          <span>.{{book.pages}}p</span>
        </li>
      </ul>

    </li>
  </ul>
</div>
